body{
    margin: 0%;
}
.header{
    height:80px;
    width: 100%;
    background-color:  white;
}
.headerlogo{
    width:200px;
    height:90px;
    background-color:white;
    float: left;
}
.headerlogo>img{
    width:150px;
    height:90px;
    margin-left: 20px;
}
.headerinput{
    width: 500px;
    height: 80px;
    float: right;
}
.headerinput>input{
    width: 300px;
    height:40px;
    border:none;
    color: gray;
    font-size: 17px;
    background-color:white;
    padding-left: 30px;
    border:1px solid rgb(186, 184, 184);
    border-radius:5px 0px 0px 5px;
    margin-top: 20px;
}
.headerinput>button{
    width: 100px;
    height: 44px;
    background-color:rgb(164, 162, 162);
    border-radius:0px 5px 5px 0px;
    border:none;
    font-size:17px;
    font-weight: bold;
    color: white;
    border:1px solid  rgb(186, 184, 184);
}
.headerinput>button:hover{
    color: black;
}
.nav{
    width: 100%;
    height:60px;
    background-color: #DC7633;
    float: left;
}
li{
    display: inline;
    padding-left: 120px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bold;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
    transition: 1s;
}
ul{
   padding-top: 8px;
   padding-left:190px;
}
.contact_heading{
    width: 100%;
    height: 80px;
    margin-top: 20px;
    text-align: center;
    float: left;
    text-decoration: underline 3px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contactdiv{
    width: 100%;
    height:600px;
   
    float: left;
}
.contactmid{
    width:50%;
    height:600px;

    float: left;
}
table{
    width: 500px;
    height: 450px;
    margin: auto;
    margin-top: 50px;
}
input{
    height: 35px;
    background-color: #E5E7E9 ;
    border: none;
}
td>button{
    height: 35px;
    background-color: #F7DC6F ;
   font-size:20px;
   color: white;
    border: none;
    font-weight: bold;
    border-radius: 30px;
}
td>button:hover{
    color: black;
    transition: 1s;
}
footer{
    width: 100%;
    height:200px;
    background-color:#E5E7E9 ;
    float: left;
}
.innerfooter{
    width: 320px;
    height: 80px;
    margin: auto;
    margin-top: 70px;
    
}
.infooter{
    width: 50px;
    height: 50px;
    float:left;
    margin-left: 30px;
    border-radius: 40px;
    margin-top: 15px;
}
.footerimg{
    width:50px;
    height:50px;
    border-radius:40px;
} 
.location{
    width:100%;
    height: 40px;
  
    margin-top: 80px;
}
.map{
    width: 400px;
    height: 300px;
  
    margin: auto;
    margin-top: 50px;
}
.location>img{
    width: 30px;
    height:30px;
    margin-left: 100px;
    float: left;
    margin-top: 5px;
    border-radius: 30px;
}
label{
    float: left;
    padding-left: 30px;
    font-size: 25px;
    padding-top: 5px;
    color: red;
}
